.search-box{
    -fx-background-color:   #0066CC;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
.search-field{
    -fx-background-color: transparent;
    -fx-text-fill: #d1d8e0;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-border: none ;
}
.search-field:pressed > .search-box{
    -fx-background-color: white;
}
.cancel-button{
    -fx-background-color: transparent;
    -fx-text-fill: #2b2b2b;
    -fx-cursor: hand;
}
.title{
    -fx-background-color: #0066CC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.success-alert{
    -fx-font-size: 14px;
    -fx-text-fill: #009432;
    -fx-background-color:  #CAF7D8;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}
.warning-alert{
    -fx-font-size: 12px;
    -fx-text-fill: #c41b1b;
    -fx-background-color:  #F8DADA;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}